*{
    padding: 0;
    margin: 0;
    font-family: "Anton", sans-serif;

}
.cabecario{
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: red;
    position: fixed;
    
    /* font-family: "Anton", sans-serif; */
    text-align: center;
    font-weight: 500;
    font-style: normal;
    box-shadow: 0 0 15px rgb(94, 94, 94);
}
body{
    position: relative;
}
.corpo{
    /* width: 100%; */
    background-color: rgba(178, 177, 177, 0.405);
    padding-top: 100px;
    padding-bottom: 110px;
}

.titulo_cabecario{
    color: white;
    font-size: 35px;
}

.subtitulo_cabecario{
    color: white;
    font-size: 18px;
}

.titulo_prato{
    text-align: center;
    padding: 35px 15px;
    font-size: 18px;
}

.escolha_de_pratos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 30px 200px; */

}

.prato, .prato_1, .prato_2{
    width: 190px;
    min-width: 190px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(94, 94, 94);
    padding: 10px;
    box-sizing: border-box;
    margin: 0 20px; 
    
}

.imagem_prato{
    width: 100%;
    height: 120px;
    background-color: aliceblue;
}
.nome_prato{
    padding-top: 10px;
    font-size: 15px;
    text-align: left;
}

.legenda_prato{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    font-size: 11px;
    text-align: left;
    color: rgb(143, 143, 143);
}

.foter_prato{
    display: flex;

}

.preco_prato{
    font-size: 13px;
    text-align: left;
    padding-top: 5px;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgb(94, 94, 94);
    text-align: center;
    position: fixed;
    bottom: 0;
    
}

.finalizar_pedido{
    width: 280px;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(8, 169, 35);
    border: none;
    color: white;
    
}

.check {
    border: 3px solid rgb(8, 169, 35);
    box-sizing: content-box;
    box-shadow: 0 0 20px  rgb(8, 169, 35);
    display: block;
}

.popUp{
    z-index: 99;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.674);

}

.ConfirmarPedidos{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(8, 169, 35);
    padding: 10px;
    box-sizing: border-box;

}
.pedido{
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}

.botoesPopUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.btnConfirmarPedido{
    width: 250px;
    height: 45px;
    margin: 5px 0;
    background-color: white;
    color: rgb(8, 169, 35);
}

@media(max-width: 616px){
    .escolha_de_pratos{
        width: auto;
        display: flex;
        justify-content: none;
        overflow-x: scroll;
    }
    /* ::-webkit-scrollbar{
        scrollbar-: 50px;
        background-color: aqua;
        
    } */
    .corpo{
        width: 100%;
    }
    
}